body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

/* Common styling for forms */
form {
    max-width: 400px;
    margin: auto;
}

h1, h2, h4 {
    text-align: center;
    color: #333;
}

h2 {
    margin-top: 20px;
}

/* Registration Page */
.register-form {
    text-align: center;
    margin-top: 20px;
}

.register-form label {
    display: block;
    margin: 10px 0;
    color: #555;
}

.register-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.register-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #45a049;
}

/* Add Movie Review Page */
.add-movie-form {
    text-align: center;
    margin-top: 20px;
}

.add-movie-form label {
    display: block;
    margin: 10px 0;
    color: #555;
}

.add-movie-form input,
.add-movie-form textarea,
.add-movie-form select {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.add-movie-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.add-movie-form button:hover {
    background-color: #45a049;
}

/* Home Site Page */
.button a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

.button a:hover {
    text-decoration: underline;
}

/* Instruction Page */
.button button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button button:hover {
    background-color: #45a049;
}

/* Login Page */
.login-form {
    text-align: center;
    margin-top: 20px;
}

.login-form label {
    display: block;
    margin: 10px 0;
    color: #555;
}

.login-form input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    box-sizing: border-box;
}

.login-form button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-form button:hover {
    background-color: #45a049;
}

/* MovieHub Page */
.button button {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button button:hover {
    background-color: #45a049;
}
