/* Resetowanie domyślnych styli dla przeglądarek */
body, h1, table {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px 0;
}

.reviews-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.reviews-table th, .reviews-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.reviews-table th {
    background-color: #f2f2f2;
}

.button {
    text-align: center;
    margin-top: 20px;
}

.back-button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.back-button:hover {
    background-color: #0056b3;
}
