<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home Site</title>
</head>
<body>
<h1>Welcome at the movie library</h1>
<p>I am a website that allows users to review films and rate them. Are you a cinema fan? If so, this page is just for you.</p>
<br>
<p>Create an account</p>
<a href="/register">Register</a>
<br>

<p>Log in to your account</p>
<a href="/login">Login</a>
<br>
<br>

<h2>Don't know how to start? Click <a href="/instruction">HERE</a> and I will explain you step by step how to start reviewing your favorite movies.</h2>

</body>
</html>