<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="global.css">
    <meta charset="UTF-8">
    <title>Instruction</title>
</head>
<body>
<h1>Instruction</h1>
<p>To start using our service you need to be registered.</p>
<br>
<p>Register</p>
<br>
<a href="/register">Register</a>
<br>
<p>If you already have got account here you got some tips about using our service.</p>
<br>
<h4>1st step</h4>
<p>Login in <a th:href="@{/login}">there </a></p>
<br>
<h4>2nd step</h4>
<p> Thats all. Now you can use our service to add or read any review.</p>


</body>
</html>