<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="global.css">
    <meta charset="UTF-8"/>
    <title>Login</title>
</head>
<body>
<h2>Login Page</h2>
<div class="login-form">
<form th:action="@{/login}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required autofocus/><br/>

    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required/><br/>

    <button type="submit">Login</button>
</form>
</div>
<br>
<p>Haven't got account yet? Register <a th:href="@{/register}">Here</a> </p>
<br>
<p th:text="${error}"></p>
</body>
</html>
