<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" href="global.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>

<h2>Registration</h2>

<div class="register-form">
<form th:action="@{/register}" method="post" th:object="${user}">
    <!-- Formularz rejestracyjny -->
    <label for="username">Username:</label>
    <input type="text" th:field="*{username}" />
    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</span>
    <div th:if="${usernameError}" class="alert alert-danger" role="alert">
        <p th:text="${usernameError}"></p>
    </div>
    <br>
    <label for="email">Email:</label>
    <input type="email" th:field="*{email}" />
    <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</span>
    <br>
    <label for="password">Password:</label>
    <input type="password" th:field="*{password}" />
    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</span>

    <label for="nickname">Nickname:</label>
    <input type="text" th:field="*{nickname}" />
    <span th:if="${#fields.hasErrors('nickname')}" th:errors="*{nickname}">Nickname error</span>

    <button type="submit">Register</button>
</form>
</div>
</body>
</html>
