<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Your Reviews</title>
</head>
<body>
<header>Yours reviews</header>

<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Date of movie</th>
        <th>Rating</th>
        <th>Review</th>
        <th>Added By</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="allByNicknames: ${allByNickname}">
        <td th:text="${allByNicknames.title}"></td>
        <td th:text="${allByNicknames.date}"></td>
        <td th:text="${allByNicknames.rating}"></td>
        <td th:text="${allByNicknames.review}"></td>
        <td th:text="${allByNicknames.addedby}"></td>
    </tr>
    </tbody>
</table>

<button type="button" onclick="window.location.href='/moviehub'">Back to MovieHub</button>


</body>
</html>
